.product-card {
    color: #000000;
    width: calc(25% - 20px);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #ffffff;
}

.product-card:hover {
    transform: scale(1.05);
    box-shadow: 0px 3px 10px 3px black;
}

.image-box {
    width: 100%;
    height: 230px;
    padding: 10px;
}

.product-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.product-info {
    background-color: #ffffff;
    padding: 10px;
}

.product-category {
    margin-bottom: 10px;
    font-size: 0.8rem;
    color: grey;
    font-weight: 400;
}

.product-category a:hover {
    color: #802c6e;
}

.product-title {
    margin-bottom: 20px;
    height: 90px;
    font-weight: 600;
}

.product-title a:hover {
    color: #802c6e;
}

.product-price {
    font-size: 1.1rem;
    font-weight: 600;
}