.product-card {
    color: #000000;
    width: calc(25% - 20px);
    border-radius: 6px;
}

.image-box {
    width: 100%;
    height: 230px;
    background-color: transparent;
    padding: 10px;
    border: 2px solid white;
}

.product-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.product-info {
    background-color: #ffffff;
    padding: 10px;
}

.product-category {
    margin-bottom: 10px;
}

.product-title {
    margin-bottom: 20px;
    height: 80px;
}