/* HEADER */
header {
    background-color: #000000;
    height: 100px;
    width: 100%;

    margin-bottom: 20px;

    position: fixed;
    z-index: 1000;
}

.header-container {
    width: 65%;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 0;
}

header figure {
    display: flex;
    align-items: center;
}

.logo-image {
    width: 60px;
    margin-right: 20px;
}

/* MAIN */
.main-container {
    width: 60%;
    margin: 0 auto;
    padding-top: 100px;
}